body {
    margin: 0;
    padding: 0;
    background-image: url("images/canva-nature-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: 'Inter', sans-serif;      
    width: 60%;
    min-width: 300px;
    height: 137px;
    background: #E4F9EA;
    color: #000;
    margin: 0 auto 20px auto;
    padding: 15px 25px 0 25px;
    position: relative;
    border-radius: 3px;
    animation: pageLoadAnimation 0.8s ease-in-out forwards;
}

@keyframes pageLoadAnimation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
}

.quote {
    font-size: 18px; 
    font-weight: 400;               
}

.author {
    font-size: 18px;
    font-weight: 700;
    bottom: 10px;
    right: 25px; 
    white-space: nowrap;
    overflow: hidden;
    position: absolute; 
 }
